# build & deps
out/
cache/
node_modules/
lib/
broadcast/
.env
*.log
ercs-pr-package/
__pycache__/

# local rehearsal state written by script/SepoliaCaseA.s.sol on Anvil (chain id != 11155111)
deployments/local-*.json
